/* #00a100 */

body {
    font-family: "Merriweather Sans",Arial,sans-serif;
    text-align: center; 
    font-weight: 500;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 900;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    padding: 10px 0;
}

hr {
    padding: 0;
    margin: 0;
    color: #b1afaf;
}

/* Boostrap classes */
.row {
    padding: 50px 0;
}

/* Navigation Bar */
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #b1afaf;
    -moz-box-shadow: 0 8px 6px -6px #b1afaf;
    box-shadow: 0 8px 6px -6px #b1afaf;

    margin: 0 -10px;
    padding: 12px 20px;
    text-align: left;
    background-color: white;
    
}

.navbar-brand {
    font-size: 1.5rem;
    color: #00a100; 
    font-weight: 900;
}

.navbar-brand:hover {
    color: #00a100;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2em;
    color: #000;
}

.logo {
    height: 40px;
    padding: 0 10px;
    position: relative;
    bottom: 5px;
}

/* Coming Soon Section */

#coming-soon {
    padding: 15px 0 10px 0;
    background-color: #00a100;
}

.coming-soon {
    font-size: 3rem;
    color: white;
}

/* Title Section */

#title {
    padding: 80px 0;
    background-color: #fff;
}

.title {
    font-size: 5em;
    color: #00a100;
    padding: 0 20px;
}


/* Infos */

#infos-mobile {
    position: absolute;
    visibility: hidden;
}

#infos-pc {
    position: static;
    visibility: visible;
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 20px;
}

.card {
    height: 90%;
}

.col {
    padding: 0 20px;
}

/* Footer */

#footer {
    padding-bottom: 50px;
}

.social-icon {
    margin: 30px 20px;
}


/* Mobile */

@media (max-device-width: 480px) {  /* max-device-width: 480px */

    h2 {
        font-size: 3rem;
    }

    /* Navbar */
    .navbar {
        height: 180px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .navbar-brand {
        font-size: 3rem;
    }
    
    .logo {
        width: 100px;
        height: auto;
    }

    .navbar-toggler {
        border-radius: 15%;
    }

    .navbar-toggler-icon {
        padding: 40px;
    }

    /* Title Section */

    .title {
        font-size: 5rem;
    }

    /* Infos */

    #infos-pc {
        position: absolute;
        visibility: hidden;
    }
    
    #infos-mobile {
        position: static;
        visibility: visible;
        max-width: 1100px;
        margin: 0 auto;
        padding: 50px 20px;
    }

    .card {
        height: 90%;
        width: 80%;
    }

    .col {
        padding: 0 20px;
    }

    /* Infos */
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    /* Footer */

    #footer {
        padding-bottom: 50px;
        font-size: 1.5rem;
    }
}

